body{
    background-color: ;
}

.text-content{
    border: 2px solid;
    background-color: aquamarine;
    width: 70%;
}

.image-content{
    border: 2px solid;
    background-color: gray;
    width: 30%;
}